// colors
$color-primary: #ed6f37;

$color-blue-dark: #344270;
$color-blue-light: #7998b2;

$color-red: #d8462f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(71, 71, 71);
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #333333;

// grid
$grid-width: 114rem;
