.orange-list {
  background-color: rgba($color-white, 0.1);
  padding: 2rem 6rem;
  border-radius: 1rem;
  margin: 4rem 0;

  @media (max-width: 768px) {
    padding: 3rem;
  }
  @media (max-width: 480px) {
    padding: 5rem 1rem;
  }
  list-style: none;
  & > li {
    &::before {
      content: "\2022";
      color: $color-primary;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-right: -1em;
    }
  }
}
