.panel {
  width: 100%;
  min-height: 40vh;
  position: relative;
  padding: 5rem 3rem;
  font-size: 1.8rem;
  font-weight: 400;

  &--1 {
    background-color: $color-primary;
  }
  &--2 {
    background-color: $color-blue-dark;
  }
  &--3 {
    background-color: $color-red;
  }
  &--4 {
    background-color: $color-blue-light;
  }
  &--5 {
    background-color: $color-primary;
  }

  &__content {
    margin: 2rem 0 5rem;
  }

  &__list {
    @media (min-width: 768px) {
      column-count: 3;
      column-gap: 10rem;
      font-size: 1.6rem;
    }

    @media (max-width: 768px) {
      column-count: 2;
    }
    @media (max-width: 480px) {
      column-count: 1;
    }
  }

  &__item {
    padding: 0.6rem;

    &--seperate {
      list-style-type: none;
      color: $color-black;
      font-weight: 900;
      margin-top: 3rem;
      font-size: 1.8rem;
    }
  }
}

.down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;

  &__img {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
