.panel {
  width: 100%;
  min-height: 40vh;
  position: relative;
  padding: 5rem 3rem;

  &--1 {
    background-color: $color-primary;
  }
  &--2 {
    background-color: $color-blue-dark;
  }
  &--3 {
    background-color: $color-red;
  }
  &--4 {
    background-color: $color-blue-light;
  }
  &--5 {
    background-color: $color-primary;
  }
}

.down-arrow {
  position: absolute;
  bottom: -0.6rem;
  left: 50%;
  transform: translateX(-50%);

  &__img {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
