.parallax {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;

  &--large {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--1 {
    background-image: url("../img/man-reading.webp");
    background-position: right;
  }

  &--2 {
    background-image: url("../img/kotel_optimized.jpg");
    background-position: top;
  }
  &--3 {
    background-image: url("../img/tree.webp");
  }
  &--4 {
    background-image: url("../img/teenager-reading.webp");
  }
  &--5 {
    background-image: url("../img/israel.webp");
  }
}

// USE FOR MOBILE DEVICES TO AVOID PARALLAX
// background-attachment: scroll;
