.parallax {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;

  &--large {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--1 {
    background-image: url("../img/shawl_1_optimized.jpg");
  }

  &--2 {
    background-image: url("../img/torah_optimized.jpg");
  }
  &--3 {
    background-image: url("../img/kotel_optimized.jpg");
  }
  &--4 {
    background-image: url("../img/bar-mitzvah_optimized.jpg");
  }
  &--5 {
    background-image: url("../img/siddur_optimized.jpg");
  }
}

// USE FOR MOBILE DEVICES TO AVOID PARALLAX
// background-attachment: scroll;
