.questions {
  margin: 2rem 0 5rem;
  font-size: 1.8rem;

  &__list {
    column-count: 3;
    column-gap: 10rem;
  }

  &__item {
    padding: 0.6rem;

    &:last-child {
      list-style-type: none;
      color: $color-black;
      font-weight: 900;
      margin-top: 3rem;
    }
  }
}
